* {
  margin: 0px;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}
@font-face {
  font-family: "Suit";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Suit";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Suit";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Suit";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suit";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Suit";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Suit";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Suit";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Suit";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}
body {
  font-size: 16px;
  background-image: linear-gradient(#f2e8e6, #4e393d, #f2e8e6);
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  font-family: "Suit";
}
@media (max-width: 600px) {
  /*header*/
  header {
    background-color: #000;
    width: 100%;
    height: 80px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    font-size: 11px;
  }
  header div {
    display: flex;
    gap: 50px;
    padding: 0px 20px;
    cursor: pointer;
  }
  header .logo {
    /* border: 1px solid red; */
    width: 20%;
    height: 50px;
  }
  header .logo img {
    width: 100%;
    height: 100%;
  }
  /*visual*/
  #visual {
    width: 100%;
    height: 100vh;
    background-image: url(../img/visual.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
  }
  #visual .high {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  #visual .high h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    transform: translateY(100px);
    opacity: 0;
  }
  #visual .high p {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1px;
    transform: translateY(100px);
    opacity: 0;
  }
  /*container1
the*/
  .the {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    margin: 50px 0px;
    animation: clinic 3s ease-in-out infinite;
  }
  @keyframes clinic {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-5%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .the .jf {
    width: 100%;
    position: relative;
  }
  .the .neck {
    /* border: 1px solid red; */
    width: 70%;
    height: 500px;
    margin: 0px auto;
  }
  .the .neck img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
  }
  .the h2 {
    font-size: 1.5rem;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  .the p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40%;
    font-size: 10px;
    /* letter-spacing: 1px; */
    /* line-height: 20px; */
  }
  /*container2
bv*/
  .bv {
    width: 100%;
    margin: 200px 0px;
    /* border: 1px solid red; */
    position: relative;
    height: 100vh;
  }
  .bv .review {
    /* border: 1px solid red; */
    width: 50%;
    margin: 0px auto;
    /* font-size: 1.3rem; */
    color: #fff;
    text-align: center;
    line-height: 50px;
  }
  .bv .review .clinic {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
  }
  .bv .review .clinic h2 {
    color: #494041;
  }
  .bv .lipwo {
    position: absolute;
    left: 10%;
    top: 40%;
    transition: 1s;
    /* border: 1px solid red; */
    width: 50%;
    height: 250px;
  }
  .bv .lipwo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bv .eyewo {
    position: absolute;
    right: 10%;
    top: 60%;
    transition: 1s;
    /* border: 1px solid red; */
    width: 60%;
    height: 250px;
  }
  .bv .eyewo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*container3
our*/
  .our {
    width: 100%;
    height: 100vh;
    color: #fff;
  }
  .our h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
  }
  .our p {
    text-align: center;
    /* font-size: 1.2rem; */
  }
  .our .cos {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    /* font-size: 1.3rem; */
  }
  .our .cos li {
    cursor: pointer;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
  }
  .our .cos li.sb {
    background-color: rgba(0, 0, 0, 1);
  }
  .our .dv {
    /* border: 1px solid red; */
    width: 80%;
    margin: 50px auto;
    height: 500px;
    position: relative;
  }
  .our .metic {
    background-image: url(../img/container3img1.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  .our .clinic {
    background-image: url(../img/container3img2.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  .our .life {
    background-image: url(../img/container3img3.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  .our .dv div h3 {
    position: absolute;
    top: 30%;
    transform: translateY(-40%);
    right: 10%;
    font-size: 2rem;
  }
  .our .dv div ul {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    right: 10%;
    /* font-size: 1.5rem; */
    list-style: inside;
  }
  .our .dv div ul li {
    /* font-size: 1.2rem; */
    margin: 10px 0px;
  }

  .our .dv div.ab {
    display: block;
  }
  /*container4
prom*/
  .prom {
    width: 100%;
    height: 60vh;
    color: #564c4e;
    margin-top: 200px;
  }
  .prom h2 {
    font-size: 2rem;
    margin: 50px;
  }
  .prom .deep {
    /* display: flex;
    align-items: center; */
    width: 90%;
    /* justify-content: space-between; */
  }
  .prom .deep ul {
    display: flex;
    gap: 50px;
    /* margin: 50px; */
    width: 100%;
    margin-left: 20px;
  }
  .prom .deep ul li {
    width: 40%;
    height: 250px;
    /* border: 1px solid red; */
    transition: 1s;
  }
  .prom .deep ul li img {
    width: 100%;
    height: 100%;
  }
  .prom .deep ul li p {
    margin-top: 30px;
    /* font-size: 1.3rem; */
    font-size: 15px;
  }
  .prom .deep .view {
    background-color: #4e393d;
    width: 15%;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: 1.2rem; */
    margin: 0px auto;
  }
  .prom .deep .view:hover {
    background-color: #fff;
    color: #4e393d;
  }
  /*footer*/
  footer {
    width: 100%;
    text-align: center;
    color: #564c4e;
    padding-bottom: 50px;
    font-size: 11px;
  }
  footer .line {
    width: 90%;
    height: 2px;
    background-color: #564c4e;
    margin: 50px auto;
    opacity: 0.5;
  }
  footer ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 30px;
  }
  footer ul li {
    text-decoration: underline;
    cursor: pointer;
  }
  footer p {
    margin-bottom: 50px;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  /*header*/
  header {
    background-color: #000;
    width: 100%;
    height: 100px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    font-size: 15px;
  }
  header div {
    display: flex;
    gap: 50px;
    padding: 0px 20px;
    cursor: pointer;
  }
  /*visual*/
  #visual {
    width: 100%;
    height: 100vh;
    background-image: url(../img/visual.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
  }
  #visual .high {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  #visual .high h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    transform: translateY(100px);
    opacity: 0;
  }
  #visual .high p {
    transform: translateY(100px);
    opacity: 0;
  }
  /*container1
the*/
  .the {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    margin: 50px 0px;
    animation: clinic 3s ease-in-out infinite;
  }
  @keyframes clinic {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-5%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .the .jf {
    width: 100%;
    position: relative;
  }
  .the .neck {
    /* border: 1px solid red; */
    width: 700px;
    height: 700px;
    margin: 0px auto;
  }
  .the .neck img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
  }
  .the h2 {
    font-size: 3rem;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
  }
  .the p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35%;
  }
  /*container2
bv*/
  .bv {
    width: 100%;
    margin: 400px 0px;
    /* border: 1px solid red; */
    position: relative;
    height: 100vh;
  }
  .bv .review {
    /* border: 1px solid red; */
    width: 50%;
    margin: 0px auto;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    line-height: 50px;
  }
  .bv .review .clinic {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
  }
  .bv .review .clinic h2 {
    color: #494041;
  }
  .bv .lipwo {
    position: absolute;
    left: 10%;
    top: 35%;
    transition: 1s;
    width: 35%;
    height: 350px;
    /* border: 1px solid red; */
  }
  .bv .lipwo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  .bv .eyewo {
    position: absolute;
    right: 10%;
    top: 60%;
    transition: 1s;
    width: 50%;
    height: 350px;
  }
  .bv .eyewo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  /*container3
our*/
  .our {
    width: 100%;
    height: 100vh;
    color: #fff;
  }
  .our h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
  }
  .our p {
    text-align: center;
    font-size: 1.2rem;
  }
  .our .cos {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    /* font-size: 1.3rem; */
  }
  .our .cos li {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
  }
  .our .cos li.sb {
    background-color: rgba(0, 0, 0, 1);
  }
  .our .dv {
    /* border: 1px solid red; */
    width: 80%;
    margin: 50px auto;
    height: 600px;
    position: relative;
  }
  .our .metic {
    background-image: url(../img/container3img1.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  .our .clinic {
    background-image: url(../img/container3img2.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  .our .life {
    background-image: url(../img/container3img3.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  .our .dv div h3 {
    position: absolute;
    top: 30%;
    transform: translateY(-40%);
    right: 10%;
    font-size: 2rem;
  }
  .our .dv div ul {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    right: 10%;
    /* font-size: 1.5rem; */
    list-style: inside;
  }
  .our .dv div ul li {
    /* font-size: 1.2rem; */
    margin: 10px 0px;
  }

  .our .dv div.ab {
    display: block;
  }
  /*container4
prom*/
  .prom {
    width: 100%;
    height: 80vh;
    margin-top: 200px;
  }
  .prom h2 {
    font-size: 3rem;
    margin: 50px;
  }
  .prom .deep {
    /* display: flex;
    align-items: center; */
    width: 90%;
    /* justify-content: space-between; */
  }
  .prom .deep ul {
    display: flex;
    gap: 50px;
    margin: 50px;
  }
  .prom .deep ul li {
    width: 30%;
    height: 300px;
    transition: 1s;
  }
  .prom .deep ul li img {
    width: 100%;
    height: 100%;
  }
  .prom .deep ul li p {
    margin-top: 30px;
    font-size: 1.3rem;
  }
  .prom .deep .view {
    background-color: #4e393d;
    width: 15%;
    height: 130px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin: 100px auto;
  }
  .prom .deep .view:hover {
    background-color: #fff;
    color: #4e393d;
  }
  /*footer*/
  footer {
    width: 100%;
    text-align: center;
    color: #564c4e;
    padding-bottom: 50px;
  }
  footer .line {
    width: 90%;
    height: 2px;
    background-color: #564c4e;
    margin: 50px auto;
    opacity: 0.5;
  }
  footer ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 30px;
  }
  footer ul li {
    text-decoration: underline;
    cursor: pointer;
  }
  footer p {
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  /*header*/
  header {
    background-color: #000;
    width: 100%;
    height: 100px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    font-size: 15px;
  }
  header div {
    display: flex;
    gap: 50px;
    padding: 0px 20px;
    cursor: pointer;
  }
  /*visual*/
  #visual {
    width: 100%;
    height: 100vh;
    background-image: url(../img/visual.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
  }
  #visual .high {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
  #visual .high h2 {
    font-size: 4rem;
    margin-bottom: 50px;
    transform: translateY(100px);
    opacity: 0;
  }
  #visual .high p {
    /* font-size: 1.5rem; */
    transform: translateY(100px);
    opacity: 0;
  }
  /*container1
the*/
  .the {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    margin: 50px 0px;
    animation: clinic 3s ease-in-out infinite;
  }
  @keyframes clinic {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-5%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .the .jf {
    width: 100%;
    position: relative;
  }
  .the .neck {
    /* border: 1px solid red; */
    width: 700px;
    height: 700px;
    margin: 0px auto;
  }
  .the .neck img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
  }
  .the h2 {
    font-size: 4rem;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .the p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40%;
  }
  /*container2
bv*/
  .bv {
    width: 100%;
    margin: 400px 0px;
    /* border: 1px solid red; */
    position: relative;
    height: 100vh;
  }
  .bv .review {
    /* border: 1px solid red; */
    width: 50%;
    margin: 0px auto;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 80px;
  }
  .bv .review .clinic {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
  }
  .bv .review .clinic h2 {
    color: #494041;
  }
  .bv .lipwo {
    position: absolute;
    left: 20%;
    top: 50%;
    transition: 1s;
  }
  .bv .eyewo {
    position: absolute;
    right: 20%;
    top: 70%;
    transition: 1s;
  }
  /*container3
our*/
  .our {
    width: 100%;
    height: 100vh;
    color: #fff;
  }
  .our h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 50px;
  }
  .our p {
    text-align: center;
    /* font-size: 1.5rem; */
  }
  .our .cos {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    /* font-size: 1.3rem; */
  }
  .our .cos li {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
  }
  .our .cos li.sb {
    background-color: rgba(0, 0, 0, 1);
  }
  .our .dv {
    /* border: 1px solid red; */
    width: 60%;
    margin: 50px auto;
    height: 650px;
    position: relative;
  }
  .our .metic {
    background-image: url(../img/container3img1.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  .our .clinic {
    background-image: url(../img/container3img2.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  .our .life {
    background-image: url(../img/container3img3.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }
  .our .dv div h3 {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    right: 10%;
    font-size: 2rem;
  }
  .our .dv div ul {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    right: 10%;
    /* font-size: 1.5rem; */
    list-style: inside;
  }
  .our .dv div ul li {
    /* font-size: 1.2rem; */
    margin: 10px 0px;
  }

  .our .dv div.ab {
    display: block;
  }
  /*container4
prom*/
  .prom {
    width: 100%;
    height: 100vh;
    margin-top: 300px;
  }
  .prom h2 {
    font-size: 3rem;
    margin: 50px;
  }
  .prom .deep {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
  }
  .prom .deep ul {
    display: flex;
    gap: 50px;
    margin: 50px;
  }
  .prom .deep ul li {
    width: 400px;
    height: 400px;
    transform: translateY(200px);
    transition: 1s;
  }
  .prom .deep ul li img {
    width: 100%;
    height: 100%;
  }
  .prom .deep ul li p {
    margin-top: 30px;
    /* font-size: 1.3rem; */
  }
  .prom .deep .view {
    background-color: #4e393d;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
  .prom .deep .view:hover {
    background-color: #fff;
    color: #4e393d;
  }
  /*footer*/
  footer {
    width: 100%;
    text-align: center;
    color: #564c4e;
    padding-bottom: 50px;
  }
  footer .line {
    width: 90%;
    height: 2px;
    background-color: #564c4e;
    margin: 50px auto;
    opacity: 0.5;
  }
  footer ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 30px;
  }
  footer ul li {
    text-decoration: underline;
    cursor: pointer;
  }
  footer p {
    margin-bottom: 50px;
  }
}
